In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path

path = "/Users/Dipesh/OneDrive/Research_Engineer/Papers/M2EC/results/AWS_Google/"
#path = "/Users/Dipesh/OneDrive/Research_Engineer/Papers/M2EC/results/AWS_all_Google/"
cost_path = "/Users/Dipesh/OneDrive/Research_Engineer/Papers/M2EC/results/cost/cost_AWS_Google.csv"

bandwidth ={}
latency  = {}
bw = []
lt = []

In [17]:
dirList = os.listdir(path)
dirList.remove(".DS_Store")
#for i in listUse:
   # for j in listUse: 
for i in dirList:
    for j in dirList: 
        if i is j:
            bw.append(0)
            lt.append(0)
            continue
        
        # bandwidth
        if "_aws" in j:
            location = path+"%s/combined_bandwidth_aws_%s_%s.txt"%(i,j,i)
        else:
            location = path+"%s/combined_bandwidth_google_%s_%s.txt"%(i,j,i)
        
        df_bandwidth = pd.read_csv(location, sep='\s+', skiprows=3, nrows=100, header=None)
        headers = ["0", "1", "time","time_unit","transfer","transfer_unit", "bitrate", "bitrate_unit", "retr", "cwnd", "cwnd_unit"]
        df_bandwidth.columns = headers     
        df_bandwidth.drop(['0', '1', 'time', 'time_unit','transfer', 'transfer_unit','cwnd', 'cwnd_unit', 'retr'], axis=1, inplace= True)
        val = df_bandwidth["bitrate"].mean()
        
        bandwidth[j+"_"+i]=val
        bw.append(val)
  
        # latency
        if "_aws" in j:
            location = path+"%s/combined_latency_aws_%s_%s.txt"%(i,j,i)
        else:
            location = path+"%s/combined_latency_google_%s_%s.txt"%(i,j,i)
        
        df_lat = pd.read_csv(location, sep='\s+', skiprows=1, nrows=100, header=None)

        headers_lat = ["0", "1", "2", "3", "4", "5", "latency", "unit"]
        df_lat.columns = headers_lat
        df_lat.drop(['0', '1', '2', '3','4', '5'], axis=1, inplace= True)        
        df_lat["latency"] = df_lat["latency"].map(lambda x:x.replace("time=",""))
        df_lat["latency"] = df_lat["latency"].astype('float')
        #print(df_lat["latency"].max())
        val_lat = df_lat["latency"].mean()
        
        latency[j+"_"+i]=val_lat
        lt.append(val_lat)

In [18]:
df_cost = pd.read_csv(cost_path, sep=';')
df_cost.head()

,from,frankfurt_aws,frankfurt_google,london_aws,london_google,mumbai_aws,mumbai_google,northvirginia_aws,northvirginia_google,oregon_aws,oregon_google,saopaulo_aws,saopaulo_google,singapore_aws,singapore_google,sydney_aws,sydney_google,tokyo_aws,tokyo_google
0,frankfurt_aws,0.000,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075
1,frankfurt_google,0.082,0.000,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.152,0.152,0.082,0.082
2,london_aws,0.020,0.075,0.000,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075
3,london_google,0.082,0.082,0.082,0.000,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.152,0.152,0.082,0.082
4,mumbai_aws,0.086,0.084,0.086,0.084,0.000,0.084,0.086,0.084,0.086,0.084,0.086,0.084,0.086,0.084,0.086,0.084,0.086,0.084

In [19]:
df_cost.drop(['from'], axis = 1, inplace = True)
df_cost.head()

,frankfurt_aws,frankfurt_google,london_aws,london_google,mumbai_aws,mumbai_google,northvirginia_aws,northvirginia_google,oregon_aws,oregon_google,saopaulo_aws,saopaulo_google,singapore_aws,singapore_google,sydney_aws,sydney_google,tokyo_aws,tokyo_google
0,0.000,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075
1,0.082,0.000,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.152,0.152,0.082,0.082
2,0.020,0.075,0.000,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075,0.020,0.075
3,0.082,0.082,0.082,0.000,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.082,0.152,0.152,0.082,0.082
4,0.086,0.084,0.086,0.084,0.000,0.084,0.086,0.084,0.086,0.084,0.086,0.084,0.086,0.084,0.086,0.084,0.086,0.084

In [20]:
# bandwidth
arrayBw = np.array(bw)
# arrayBw= arrayBw.reshape(-1,len(dirList))
arrayBw= arrayBw.reshape(-1,len(dirList))

max_bd = np.max(arrayBw)
min_bd = np.amin(arrayBw[arrayBw>0.01])

# normalization
arrayBw = (arrayBw-min_bd)/(max_bd-min_bd)
arrayBw = arrayBw.round(4)
#print(latency)

In [21]:
# latency
arrayLt = np.array(lt)
arrayLt = arrayLt.reshape(-1,len(dirList))

max_lt = np.max(arrayLt)
min_lt = np.amin(arrayLt[arrayLt>0.01])

# normalization
arrayLt = 1-(arrayLt-min_lt)/(max_lt-min_lt)
arrayLt = arrayLt.round(4)

In [22]:
# cost
arrayCost = df_cost.values

# Get maximum and minimum
max_cost = np.max(arrayCost) 
min_cost = np.min(arrayCost[arrayCost>0])

# Normalize the values
arrayCost = 1 - (arrayCost - min_cost)/(max_cost - min_cost)
arrayCost = arrayCost.round(4)

In [23]:
print("Max bandwidth is {}, min bandwidth is {} \nMax latency is {}, min latency is {}\nMax cost is {}, min cost is {}".format(max_bd, min_bd, max_lt, min_lt, max_cost, min_cost))

Max bandwidth is 851.75, min bandwidth is 3.1769
Max latency is 388.18, min latency is 1.5730000000000002
Max cost is 0.217, min cost is 0.02

In [271]:
# convert to 0 for i == j
arrayLt = np.where(arrayLt==1.0041, 0, arrayLt)
arrayCost = np.where(arrayCost==1.1015, 0, arrayLt)

In [272]:
# combine latency, bandwidth, and cost with equal weights to all
# combined = (arrayBw+arrayLt+arrayCost)/3
# combined = 0.25 * arrayBw + 0.25 * arrayLt + 0.5 * arrayCost
# combined = 0.2 * arrayBw + 0.2 * arrayLt + 0.6 * arrayCost
# combined = 0.1 * arrayBw + 0.1 * arrayLt + 0.8 * arrayCost
# combined = 0.0 * arrayBw + 0.0 * arrayLt + 1.0 * arrayCost

# combine both latency and bandwidth
# combined = (arrayBw+arrayLt)/2

# only latency
# combined = arrayLt

# only bandwidth
combined = arrayBw

print(combined.shape)

(18, 18)

In [273]:
df = pd.DataFrame(combined)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-0.0037,0.8191,0.3686,0.2396,0.0625,0.0583,0.1449,0.0896,0.0781,0.0609,0.0606,0.0413,0.0801,0.0537,0.0475,0.0443,0.0568,0.0503
1,0.6280,-0.0037,0.2298,0.6530,0.0088,0.0365,0.0579,0.0702,0.0312,0.0859,0.0104,0.0122,0.0348,0.0632,0.0065,0.0590,0.0070,0.0720
2,0.3397,0.2721,-0.0037,1.0000,0.0531,0.0622,0.1270,0.0913,0.0804,0.0719,0.0628,0.0614,0.0809,0.0628,0.0470,0.0591,0.0590,0.0659
3,0.0620,0.1141,0.8886,-0.0037,0.0096,0.0513,0.0717,0.0808,0.0380,0.0726,0.0120,0.0153,0.0404,0.0660,0.0060,0.0685,0.0074,0.0412
4,0.0733,0.0409,0.0730,0.0478,-0.0037,0.9083,0.0576,0.0485,0.0515,0.0457,0.0412,0.0448,0.1026,0.0836,0.0499,0.0482,0.0517,0.0590
5,0.0202,0.0556,0.0187,0.0576,0.8454,-0.0037,0.0194,0.0681,0.0218,0.0894,0.0154,0.0107,0.1239,0.1218,0.0119,0.1242,0.0132,0.0522
6,0.1254,0.0952,0.1800,0.1246,0.0422,0.0618,-0.0037,0.9052,0.1071,0.1422,0.0897,0.0755,0.0459,0.0810,0.0594,0.0780,0.0820,0.0830
7,0.0147,0.0337,0.0743,0.0511,0.0115,0.0682,0.7730,-0.0037,0.0939,0.1847,0.0163,0.0147,0.0429,0.0893,0.0141,0.0933,0.0128,0.1271
8,0.0789,0.0822,0.0052,0.0788,0.0507,0.0619,0.1087,0.1494,-0.0037,0.3530,0.0739,0.0716,0.0656,0.0851,0.0841,0.0732,0.1104,0.0943
9,0.0142,0.0727,0.0312,0.0439,0.0099,0.0537,0.0870,0.0707,0.2236,-0.0037,0.0153,0.0128,0.0611,0.0893,0.0155,0.1044,0.0203,0.0346
10,0.0153,0.0520,0.0355,0.0457,0.0000,0.0566,0.0900,0.0685,0.0464,0.0562,-0.0037,0.8083,0.0400,0.0400,0.0423,0.0437,0.0496,0.0463
11,0.0182,0.0605,0.0225,0.0889,0.0178,0.0474,0.0506,0.1445,0.0271,0.1102,0.3768,-0.0037,0.0298,0.0487,0.0098,0.0601,0.0089,0.0513
12,0.0740,0.0433,0.0744,0.0438,0.0804,0.1110,0.0550,0.0554,0.0660,0.0594,0.0409,0.0391,-0.0037,0.8099,0.0745,0.0631,0.1036,0.0907
13,0.0340,0.0348,0.0167,0.0602,0.1123,0.1130,0.0303,0.0894,0.0432,0.1217,0.0089,0.0089,0.5127,-0.0037,0.0183,0.2080,0.0232,0.0658
14,0.0455,0.0580,0.0471,0.0550,0.0359,0.0880,0.0678,0.0714,0.0897,0.0671,0.0398,0.0494,0.0563,0.0886,-0.0037,0.9362,0.0754,0.0878
15,0.0417,0.0137,0.0185,0.0243,0.0151,0.0478,0.0266,0.0486,0.0307,0.0848,0.0087,0.0066,0.1071,0.1243,0.3363,-0.0037,0.0165,0.0279
16,0.0530,0.0632,0.0613,0.0632,0.0609,0.0761,0.0846,0.0681,0.0326,0.0856,0.0487,0.0695,0.1234,0.1082,0.0971,0.0859,-0.0037,0.6028
17,0.0333,0.0614,0.0317,0.0863,0.0658,0.0681,0.0525,0.1235,0.0566,0.1595,0.0094,0.0126,0.1311,0.2002,0.0158,0.1668,0.2751,-0.0037

In [274]:
#df = pd.DataFrame(combined, index=dirList, columns=dirList)
df = pd.DataFrame(combined)
df.columns = dirList
new_column = dirList
df.insert(0, column="From", value=new_column)

df = df.round(4)
# latency, bandwidth, cost
# df = df.replace(-0.0012,0)
# df = df.replace(-0.0009,0)
# df = df.replace(-0.0007,0)
# df = df.replace(-0.0004,0)

# latency
# df = df.replace(-0.0018,0)

# bandwidth
df = df.replace(-0.0037,0)

df

,From,frankfurt_aws,frankfurt_google,london_aws,london_google,mumbai_aws,mumbai_google,northvirginia_aws,northvirginia_google,oregon_aws,oregon_google,saopaulo_aws,saopaulo_google,singapore_aws,singapore_google,sydney_aws,sydney_google,tokyo_aws,tokyo_google
0,frankfurt_aws,0.0000,0.8191,0.3686,0.2396,0.0625,0.0583,0.1449,0.0896,0.0781,0.0609,0.0606,0.0413,0.0801,0.0537,0.0475,0.0443,0.0568,0.0503
1,frankfurt_google,0.6280,0.0000,0.2298,0.6530,0.0088,0.0365,0.0579,0.0702,0.0312,0.0859,0.0104,0.0122,0.0348,0.0632,0.0065,0.0590,0.0070,0.0720
2,london_aws,0.3397,0.2721,0.0000,1.0000,0.0531,0.0622,0.1270,0.0913,0.0804,0.0719,0.0628,0.0614,0.0809,0.0628,0.0470,0.0591,0.0590,0.0659
3,london_google,0.0620,0.1141,0.8886,0.0000,0.0096,0.0513,0.0717,0.0808,0.0380,0.0726,0.0120,0.0153,0.0404,0.0660,0.0060,0.0685,0.0074,0.0412
4,mumbai_aws,0.0733,0.0409,0.0730,0.0478,0.0000,0.9083,0.0576,0.0485,0.0515,0.0457,0.0412,0.0448,0.1026,0.0836,0.0499,0.0482,0.0517,0.0590
5,mumbai_google,0.0202,0.0556,0.0187,0.0576,0.8454,0.0000,0.0194,0.0681,0.0218,0.0894,0.0154,0.0107,0.1239,0.1218,0.0119,0.1242,0.0132,0.0522
6,northvirginia_aws,0.1254,0.0952,0.1800,0.1246,0.0422,0.0618,0.0000,0.9052,0.1071,0.1422,0.0897,0.0755,0.0459,0.0810,0.0594,0.0780,0.0820,0.0830
7,northvirginia_google,0.0147,0.0337,0.0743,0.0511,0.0115,0.0682,0.7730,0.0000,0.0939,0.1847,0.0163,0.0147,0.0429,0.0893,0.0141,0.0933,0.0128,0.1271
8,oregon_aws,0.0789,0.0822,0.0052,0.0788,0.0507,0.0619,0.1087,0.1494,0.0000,0.3530,0.0739,0.0716,0.0656,0.0851,0.0841,0.0732,0.1104,0.0943
9,oregon_google,0.0142,0.0727,0.0312,0.0439,0.0099,0.0537,0.0870,0.0707,0.2236,0.0000,0.0153,0.0128,0.0611,0.0893,0.0155,0.1044,0.0203,0.0346
10,saopaulo_aws,0.0153,0.0520,0.0355,0.0457,0.0000,0.0566,0.0900,0.0685,0.0464,0.0562,0.0000,0.8083,0.0400,0.0400,0.0423,0.0437,0.0496,0.0463
11,saopaulo_google,0.0182,0.0605,0.0225,0.0889,0.0178,0.0474,0.0506,0.1445,0.0271,0.1102,0.3768,0.0000,0.0298,0.0487,0.0098,0.0601,0.0089,0.0513
12,singapore_aws,0.0740,0.0433,0.0744,0.0438,0.0804,0.1110,0.0550,0.0554,0.0660,0.0594,0.0409,0.0391,0.0000,0.8099,0.0745,0.0631,0.1036,0.0907
13,singapore_google,0.0340,0.0348,0.0167,0.0602,0.1123,0.1130,0.0303,0.0894,0.0432,0.1217,0.0089,0.0089,0.5127,0.0000,0.0183,0.2080,0.0232,0.0658
14,sydney_aws,0.0455,0.0580,0.0471,0.0550,0.0359,0.0880,0.0678,0.0714,0.0897,0.0671,0.0398,0.0494,0.0563,0.0886,0.0000,0.9362,0.0754,0.0878
15,sydney_google,0.0417,0.0137,0.0185,0.0243,0.0151,0.0478,0.0266,0.0486,0.0307,0.0848,0.0087,0.0066,0.1071,0.1243,0.3363,0.0000,0.0165,0.0279
16,tokyo_aws,0.0530,0.0632,0.0613,0.0632,0.0609,0.0761,0.0846,0.0681,0.0326,0.0856,0.0487,0.0695,0.1234,0.1082,0.0971,0.0859,0.0000,0.6028
17,tokyo_google,0.0333,0.0614,0.0317,0.0863,0.0658,0.0681,0.0525,0.1235,0.0566,0.1595,0.0094,0.0126,0.1311,0.2002,0.0158,0.1668,0.2751,0.0000

In [275]:
#df.max(axis=1)

In [276]:
df.to_csv("lt_bd_cost.csv", sep="\t")

In [163]:
new_df = pd.melt(df, id_vars=['From'], value_vars=df.columns.values.tolist()[1:],
    var_name='To', value_name='Value')

In [164]:
new_df.head()

               From             To   Value
0     frankfurt_aws  frankfurt_aws  1.0000
1  frankfurt_google  frankfurt_aws  0.8140
2        london_aws  frankfurt_aws  0.6550
3     london_google  frankfurt_aws  0.5166
4        mumbai_aws  frankfurt_aws  0.3951

In [165]:
new_df.to_csv("values.csv", sep=",")

In [166]:
dirList

['frankfurt_aws',
 'frankfurt_google',
 'london_aws',
 'london_google',
 'mumbai_aws',
 'mumbai_google',
 'northvirginia_aws',
 'northvirginia_google',
 'oregon_aws',
 'oregon_google',
 'saopaulo_aws',
 'saopaulo_google',
 'singapore_aws',
 'singapore_google',
 'sydney_aws',
 'sydney_google',
 'tokyo_aws',
 'tokyo_google']